/* Fonts */
@font-face {
  font-family: adamcg;
  src: url(../fnt/adamcg.otf);
}
@font-face {
  font-family: tiresias;
  src: url(../fnt/tiresias_r.ttf);
}
@font-face {
  font-family: tiresias;
  src: url(../fnt/tiresias_b.ttf);
  font-weight: bold;
}
@font-face {
  font-family: tiresias;
  src: url(../fnt/tiresias_i.ttf);
  font-weight: italic;
}
@font-face {
  font-family: larab;
  src: url(../fnt/larab.ttf);
}

/* Default Tags */
body {
  font-family: tiresias, Arial, Helvetica;
  font-size: 18px;

  background-color: #201811;
  background-image: url(../img/bg/top_bg.png);
  background-size: 600px 290px;
  background-repeat: repeat-x;
  color: #000000;
}

p {

}

h1 {
  margin-bottom: 0;
  padding-bottom: 11px;
  font-family: adamcg, arial, helvetica;
  font-size: 37px;
  color: #4d381f;
  text-align: center;
}
h2 {
  font-family: adamcg, arial, helvetica;
  font-size: 28px;
  color: #4d381f;
}
h3 {
  font-family: adamcg, arial, helvetica;
  font-size: 18px;
  color: #4d381f;
}

hr {
  width: 75%;
  border: 0;
  height: 3px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #e8caa7, #9f7a52, #e8caa7);
  background-image: -moz-linear-gradient(left, #e8caa7, #9f7a52, #e8caa7);
  background-image: -ms-linear-gradient(left, #e8caa7, #9f7a52, #e8caa7);
  background-image: -o-linear-gradient(left, #e8caa7, #9f7a52, #e8caa7);
  margin-top: 50px;
}

a {
  color: #5b452a;
  text-decoration: none;
  text-shadow: 0px 2px 3px rgba(0.2, 0.2, 0.2, 0.45);
  outline: 0;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}


table {
	width:85%;
	margin: 0 auto;

	border-radius: 10px 10px 0px 0px;
	border: 1px solid #949494;
	border-spacing: 0;
}

th {
	color: #eee;
}

tr {
}

td.data_dark {
	color: #eee;
	background-color: #424344;
}

td.data_dark a:hover {
	color: #fff;
}

tr:nth-child(even)
{

}

th:first-child {
	border-top-left-radius: 10px
}

th:last-child {
	border-top-right-radius: 10px
}

tr:first-child td:first-child
{

}

tr:first-child td:last-child
{

}

tr:nth-child(even)
{

}

th, td
{
		padding: 10px 10px 5px 5px; 
}

pre {
  font-family: larab;
  font-size: 15px;
  background-color: #6b5132;
  color: #eee;
  padding: 10px 15px !important;
  border-radius: 10px;
}

code {
  font-family: larab;
  font-size: 15px;
  background-color: #6b5132;
  color: #eee;
  padding: 3px 3px;
  border-radius: 3px;
}

.sourceCode {
	background-color: #6b5132 !important;
	/*padding: 10px 15px !important;*/
	/*border-radius: 10px !important;*/
}

.sourceLine
{
  font-family: larab !important;
  font-size: 15px !important;
  color: #eee !important;
  text-decoration: none !important;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0) !important;
  outline: 0 !important;
}

.sourceLine:hover
{
  font-family: larab !important;
  font-size: 15px !important;
  color: #eee !important;
  border-radius: 3px !important;
    text-decoration: none !important;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0) !important;
  outline: 0 !important;
}

blockquote {
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 3px solid #c1986b;
  border-radius: 10px;

  background-image: url(../img/format/quote_open.png), url(../img/format/quote_close.png);
  background-position: top left, right bottom;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-color: #c1986b;
}

img {
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #444444;
}

img.transparent {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px #000 !important;
}

/* Classes */
.container {
  padding-top: 35px;
  margin: auto;
  width: 95%;
  max-width: 900px;
}

.topnav {
  height: 100px;
  padding-top: 18px;
  border-radius: 23px 23px 1px 1px;
  overflow: hidden;
  background-image: linear-gradient(45deg, #4b351a, #be9467);
  box-shadow: 0px 3px 11px 0.7px rgba(0,0,0,0.27);
}

.topnav a {
  float: right;
  display: block;
  margin-top: 48px;
  padding: 3px 16px;
  
  text-align: center;
  text-decoration: none;
  font-family: adamcg;
  color: #ebdece;
  font-size: 40px;
}

.topnav a:hover {
  color: #FFFFFF;
}

.navsel {
  height: 60px;
  color: #4b4641 !important;
  background-color: #e8caa7;
  border-radius: 18px 18px 0px 0px;
  text-shadow: 0px 1px 1px #444444 !important;
  box-shadow: 0px -3px 7px 0.5px rgba(0,0,0,0.27);
}

.logo {
  position: absolute;
  top: 24px;
  width: 330px !important;
  height: 170px !important;
  z-index: 9;
  
  background-image: url(../img/brand/EzoFuzz_Logo_Sprite.png);
  background-size: 660px 170px;
  
  background-repeat: no-repeat;
}

.logosel {
  color: #4b4641 !important;
  background-color: #e8caa7;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px -10px -2px 0.5px rgba(0,0,0,0.27);
}

.logo:hover {
  background-position: -330px 0px;
}

.logo_chop {
  display: flex;
  float: right;
  width: 200px;
  height: 200px;
}

.logo_game {
  display: flex;
  float: right;
  width:160px;
  height: 220px;
}

content {
  padding: 10px;
}

.content {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e8caa7;
  padding-top: 5px;
  padding-bottom: 30px;
  border-radius: 0px 0px 23px 23px;
  box-shadow: 0px 9px 9px 0.7px rgba(0,0,0,0.27);
}
}

.content p {
  text-align: justify;
}

.contentEmbed {
  border-radius: 10px;
}

.contentEmbed_vert {
  border-radius: 10px;
  margin-left: 180px;
  margin-right: 180px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  padding: 3px;
  text-align: center;
  vertical-align: bottom;

  color: #e8caa7;
  font-family: larab;
  font-size: 13px;
}

.asciicast {
  float: right !important;
  max-width: 420px;
  max-height: 540px;

  background-color: #121314;
  border: 17px solid #949494;
  border-radius: 35px; 
}

.chopdesc {
  background-image: url(../img/brand/chop_symbol.png);
  background-position: right;
  background-size: 200px 200px;
  background-repeat: no-repeat;
 
}

/* Blog List Specific */
.blog_entry {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 85%;
  height: 165px;
  color: #eee;
  background-image: linear-gradient(45deg, #4b351a, #be9467);
  /*background-color: #121314;
  border 10px solid #121314;*/
  border-radius: 10px;
  padding: 10px 10px 10px 10px; 
}

.blog_title {
  display: inline;
}

.blog_year {
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
}

.blog_title a{
  color: #ebdece !important;
}

.blog_title a:hover {
  color: #eee !important;
}

.blog_date {
  display: inline;
  float: right;
  line-height: 0px;
  margin-right: 8px;
}

.blog_desc {
  padding-right: 10px;
}

.blog_image_container {
  float: left;
  padding-right: 20px;
}

.blog_image {
  height: 165px;
  width: 165px;
  box-shadow: 0px 2px 3px #070707 !important;
}

/* Game List Specific */
.game_entry {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 85%;
  height: 165px;
  color: #eee;
  background-image: linear-gradient(45deg, #4b351a, #be9467);
  /*background-color: #121314;
  border 10px solid #121314;*/
  border-radius: 10px;
  padding: 10px 10px 10px 10px; 
}

.game_title {
  display: inline;
}

.game_year {
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
}

.game_title a{
  font-size: 37px;
  color: #ebdece !important;
}

.game_title a:hover {
  color: #eee !important;
}

.game_date {
  position: relative;
  top: -30px;
  left: 228px;
  margin-right: 8px;
  font-size: 21px;
  text-align: right;
  vertical-align: bottom;
  padding-right: 8px;
  width: 58px;
  
  background-color: #201811;
  border-radius: 10px 0px 10px 0px;
}

.game_desc {
  padding-right: 10px;
}

.game_image_container {
  float: right;
  padding-left: 20px;
}

.game_image {
  height: 165px;
  width: 293px;
  box-shadow: 0px 2px 3px #070707 !important;
}

/* Carrd */
.card-container {
	position: relative;
	width: 300px;
	height: 300px;
}

.card {
	width: 140px;
	height: 210px;
	border-radius: 18px;
}

.card-top {
	position: relative;
    background-image: linear-gradient(110deg, #4b351a, #8e6437);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
	cursor: pointer;
	transform: translateX(50px);
	transition: 0.5s;
	outline: 0;
	box-shadow: 0px 1px 3px #070707 !important;
}

.card-top:hover {
	transform: translateX(20px) translateY(0px) rotate(20deg);
	transition: 0.5s;
	box-shadow: 0px 2px 7px #070707 !important;
}

.card-bottom {
	position: relative;
    background: #ba9165;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
	transform: translateY(-210px);
}

.card-vertical {
  text-color: #584023;
  font-size: 36px;
  font-family: adamcg;
  margin-right: auto;
  padding-top: 60px;
  padding-right: 130px;
  transform: translateX(-80px) translateY(-30px) rotate(-90deg);
}

.skill-icon {
  width: 100px;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px #000 !important;
}

/* Game Pages */
.gp_infobox {
  float: right;
  justify-content: center;
	
  width: 370px;
  min-height: 300px;
  margin-top: 25px;
  margin-left: 20px;
  
  border-radius: 16px;
  background-image: linear-gradient(45deg, #7b5c3a, #b99064);
  box-shadow: 0px 4px 5px 0.7px rgba(0,0,0,0.25);
}

.gp_infotext {
	color: #e1d2c0;
	margin: 12px;
}


.gp_center {
	margin-top: 15px;
	margin-left: 15px;
	width: 340px;
	
	background-image: linear-gradient(25deg, #4b351a, #a17c55);
	box-shadow: 0px 4px 4px 0.7px rgba(0,0,0,0.2);
	border-radius: 12px;
	outline: 0;
}

.gp_video {
	width: 340px;
	height: 191px;
	
	background-image: linear-gradient(25deg, #4b351a, #a17c55);
	box-shadow: 0px 2px 3px #444444;
	border-radius: 12px;
	outline: 0;
}

.gp_button {
	width: 340px;
	height: 60px;
	background-image: linear-gradient(25deg, #4b351a, #916c45);
	justify-content: center;
	vertical-align: middle;
	margin: auto;
	margin-bottom: 20px;
}

.gp_button_icon {
	float: left;
	width: 50px;
	margin-top: 5px;
	margin-left: 10px;
}

.gp_button_text {
	font-size: 38px;
	color: #e1d2c0;
	padding-top: 7px;
	text-align: center;
}

.gp_a {
	text-shadow: 0px 2px 3px rgba(0.2, 0.2, 0.2, 0.0) !important;
	text-decoration: none !important;
}

.gp_button:hover {
	box-shadow: 0px 7px 7px 0.7px rgba(0,0,0,0.3) !important;
	text-shadow: 0px 2px 3px rgba(0.2, 0.2, 0.2, 0.0) !important;
	text-decoration: none !important;
}

.gp_hr {
  width: 90%;
  border: 0;
  height: 3px;
  
  background-image: linear-gradient(90deg, #7b5d3a, #553d21, #7b5d3a) !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Tube Nav Elements */
.tube_nav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 6.5px;
  width: 100%;
  height: 60px;
  color: #eee;
  background-image: linear-gradient(45deg, #4b351a, #be9467);
  /*background-color: #121314;
  border 10px solid #121314;*/
  border-radius: 15px;
}

.tube_nav a {
  height: 20px;
  padding-left: 61px;
  padding-right: 61px;
  padding-top: 0px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-family: adamcg;
  color: #ebdece;
  font-size: 40px;
}

.tube_nav a:hover {
  color: #FFFFFF;
}

.tube_nav_dist {
  height: 20px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.tube_nav_sel {
  height: 20px !important;
  color: #4b4641 !important;
  background-color: #e8caa7;
  border-radius: 18px 18px 18px 18px;
  text-shadow: 0px 1px 1px #444444 !important;
  box-shadow: 0px -3px 7px 0.5px rgba(0,0,0,0.27);
}
