	</div>
	<div class="footer">
		<p> 
		<img src="https://ezofuzz.me/img/format/footer_div.png"
			 class="transparent"
		     style="width: 73px; float:left;">
		
		© Luca H. | <span id="crYear">dd</span> 
		
		<img src="https://ezofuzz.me/img/format/footer_div.png"
			 class="transparent"
		     style="width: 73px; float:right; transform: scaleX(-1);">
			 
		</p>
	</div>
   	
	<script src="https://ezofuzz.me/js/onPageLoad.js"></script>
    
    </div>
  </body>
</html>
